package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
			<!-- Scripts -->
			<script src="https://unpkg.com/htmx.org@2.0.2"></script>
			<script src="//unpkg.com/alpinejs" defer></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
