package web

templ RightSideTopMenu() {
  <!-- start::Right side top menu -->
  <div class="flex items-center">
    <!-- start::Search input -->
    @SearchInput()
    <!-- end::Search input -->

    <!-- start::Notifications -->
    @Notifications()
    <!-- end::Notifications -->

    <!-- start::Profile -->
    @Profile()
    <!-- end::Profile -->
  </div>
  <!-- end::Right side top menu -->
}