package web

import (
)

templ Side() {
  <!-- start::Side -->
  <aside :class="menuOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
    class="fixed z-30 inset-y-0 left-0 w-64 transition duration-300 bg-secondary overflow-y-auto lg:translate-x-0 lg:inset-0 custom-scrollbar">

    <!-- Include logo template -->
    @Logo()

    <!-- Include nav template -->
    @Nav()

  </aside>
}
