package templates

import (
	"github.com/a-h/templ"
)
// import (
// 	"github.com/ryanwclark1/the-ui/templates/components"
// )

templ Layout(content Templ) {
	<!DOCTYPE html>
	<html lang="en">
		Head()
		<body>
			{ children... }
		</body>
	</html>
}
