package web

templ Logo() {
  <!-- start::Logo -->
  <div class="flex items-center justify-center bg-black bg-opacity-30 h-16">
    <h1 class="text-gray-100 text-lg font-bold uppercase tracking-widest">
      Template
    </h1>
  </div>
  <!-- end::Logo -->
}